@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #101d30;
    color: antiquewhite;
}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #fff;
}

.coin-text {
    margin-bottom: 20px;
    text-align: center;
}

.coin-input {
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #0b8657;
}

.coin-input::placeholder {
    color: #fff;
}

.coin-search {
    margin-top: 40px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tbl-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    background-color: rgb(41, 41, 41);
    width: 920px;
}

.items {
    color: seagreen;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 2.5rem;
    height: auto;
    margin: 15px;
}